body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd,th,td {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

img {
    border: 0;
}

em, i {
    font-style: normal;
}

b, strong, h1, h2, h3, h4, h5, h6,th{
    font-size: 100%;
    font-weight: normal;
}

a, u, s {
    text-decoration: none;
}

body {
    /*font-size: 12px;*/
    font-family: "Microsoft YaHei";
    color: #333;
    line-height: 1;
}

a {
    color: #333;
}

.f-clear:before, .f-clear:after {
    content: " ";
    display: block;
    clear: both;
    overflow: hidden;
    font-size: 0;
    height: 0;
    line-height: 0;
}